body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.btn {
  display: inline-block;
  background: blueviolet;
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.business-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 0 -30px;
}

.business-form > * {
  flex: 1 1 250px;
  margin: 0 30px;
}
